* {
    font-size: 10px;
}

/* CONFIGURAÇÃO MENU MOBILE */
.head {
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    background-color: #22262a;
    height: 52px;
}

.mobile-menu, .logo {
    display: grid;
    justify-content: center;
}

.mobile-menu {
    align-content: center;
}

.color-svg-menu {
    fill: #fff;
}

.search, .color-svg-search {
    stroke: #fff;
    fill: #22262a;
}

.search {
    display: grid;
    justify-content: center;
    align-content: center;
}
/* FIM CONFIGURAÇÃO MENU MOBILE */

/* CONTEÚDO SLIDER PRINCIPAL */
.slider, .slider-figure {
    background-color: #151515;
}

.slider-figure, .slider-image {
    width: 100%;
}

.slider-figure {
    height: 200px;
    position: relative;
}

.slider-image {
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: url("../images/captainmarvel.jpg");
}

.slider-content {
    margin: 50px 0 0;
    padding: 0 30px 220px;
}

.slider_headline {
    color: #fff;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.8em;
    letter-spacing: 2px;
}

.cta-link {
    display: block;
    margin-bottom: 10px;
}

.cta-btn {
    background-color: #e62429;
    padding: 15px 45px;
    text-transform: uppercase;
    color: #fff;
    line-height: 16px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    display: inline-block;
}
/* FIM CONTEÚDO SLIDER PRINCIPAL */

/* IMAGEM HERO, LOGO E CTAs */
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: #151515;
    clip-path: polygon(0 0,0 100%,100% 92%,100% 0);
}

.image-hero, .content-hero {
    position: relative;
}

.image-hero {
    height: 280px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/hero_captain_marvel.jpg");
    transition: .5s ease;
}

.content-hero {
    padding: 100px 0 60px;
}

.align-img {
    display: grid;
    justify-content: center;
}

.description_content-hero {
    margin: 0 0 25px;
    color: #fff;
    font: normal 14px/22px "DINNextW01-Regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.cta-btn-light {
    background-color: #151515;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid #fff;
    display: inline-block;
}
/* FIM IMAGEM HERO, LOGO E CTAs */

/* CARD MOVIES E COMICS*/
.movie-scenes, .article-comics {
    padding: 5px 0 0;
}

.container-card, .hero-container {
    padding: 30px;
}

.card {
    grid-row-gap: 20px;
    justify-content: center;
    margin: 0 auto;
    width: 50%;    
}

.card-title, .card-description {
    font-size: 1.4em;
    cursor: pointer;
}

.card-title {
    color: #e62429;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-description {
    color: #151515;
    font-family: "DINNextW01-Regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 18px;
}
/* FIM CARD MOVIES E COMICS*/

/* IMAGEM HERO MARVEL 80s, TEXTO E CTA */
.image-hero-80s {
    position: relative;
    width: 100%;
    height: 280px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/marvel_80_years.jpg");
    transition: .5s ease;
}

.title-hero {
    color: #fff;
    font-family: "DINNextW01-CondensedMedium","Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.div-80years {
    padding-top: 60px;
}
/* FIM IMAGEM HERO MARVEL 80s, TEXTO E CTA */

/* SECTION FEATURED CHARACTERS */
.featured-characters {
    padding: 10px 0 30px 0;
}

.slider-feat {
    position: relative;
    margin: 0 auto;
    max-width: 1240px;
    overflow: hidden;
    transition: .3s ease;
}

.title-content {
    padding: 0 0 0 20px;
}

.h3-title {
    font-size: 3em;
    letter-spacing: 2px;
    padding: 20px 0px 50px 0;
}

.slider_wrapper {
    overflow: hidden;
    height: 100%;
}

.card, .card_v2 {
    position: relative;
    display: grid;
}

.card_v2 {
    grid-row-gap: 0;
}

.fig-card, .fig-img {
    position: relative;
    overflow: hidden;
}

.fig-card {
    height: 170px;
}

.fig-card:after {
    content: "";
    height: 4px;
    background-color: #e62429;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.fig-img {
    transform: scaleX(1);
    transition: all .2s linear;
    object-position: top center;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.body-card {
    background-color: #151515;
    color: #37474f;
    transition: color .3s;
    position: relative;
    height: 145px;
    padding: 16px 24px 17px 16px;
}

.body-card-headline {
    color: #fff;
    font-size: 1.8em;
    letter-spacing: 1px;
    line-height: 18px;
}

.h3-title, .body-card-headline, .footer-lineText {
    text-transform: uppercase;
    font-family: "DINNextW01-CondensedMedium","Trebuchet MS",Helvetica,Arial,sans-serif;
}

.footer-card {
    position: absolute;
    bottom: 17px;
    padding: 16px 24px 0 0;
}

.footer-lineText {
    color: #c3c3c3;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 12px;
    transition: all .17s ease-in-out;
}

.card-feed {
    display: grid;
    grid-template-columns: 1fr;
}
/* FIM SECTION FEATURED CHARACTERS */

.data-comics {
    display: grid;
    justify-content: center;
    grid-row-gap: 10px;
}

.comics-layout {
    display: grid;
    grid-row-gap: 20px;
}

.comics-title {
    color: #151515;
    font-family: "DINNextW01-Regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 18px;
    padding: 0 0 5px;
}

.comics-price {
    color: #999;
    font-family: "DINNextW01-CondensedMedium","Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 1.6em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.foot {
    background-color: #151515;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 38px;
}

.main-footer-content {
    display: block;
    width: 100%;
    max-width: 1240px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}

.main-footer-links {
    border-bottom: 1px solid #282828;
    padding-bottom: 26px;
    margin-bottom: 40px;
    text-align: left;

}

.main-footer-logo {
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
}

.icon-svg {
    width: 35px;
    fill: #151515;
}

.main-footer-primary-links {
    font-family: "DINNextW01-Regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 800;
    display: inline-block;
}

.main-footer-secondary-links {
    font-family: "DINNextW01-Regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
    display: inline-block;
}

.main-footer-link {
    display: block;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-footer-link:not(:last-of-type) {
    margin-bottom: 25px;
}

.main-footer-link a {
    color: #fff;
}

.main-footer-column {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-footer-follow {
    border-bottom: #282828;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.main-footer-title {
    font-family: "DINNextW01-CondensedMedium","Trebuchet MS",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    font-size: 1.4em;
    color: #fff;
    text-transform: uppercase;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.social-links {
    display: grid;
    grid-template-rows: 1px;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
    justify-content: space-between;
}

.footer-social-img {
    line-height: 1;
    padding: 0;
    margin-top: 30px;
    display: inline-block;
}

.icon-svg-gray-fill {
    fill: #999;
}