* {
    font-size: 10px; /* Para se basear por "em". */
}

.head {
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    background-color: #22262a;
    height: 52px;
}

.mobile-menu {
    display: grid;
    justify-content: center;
    align-content: center;
}

.color-svg-menu {
    fill: #fff;
}

.logo {
    display: grid;
    justify-content: center;
}

.search {
    display: grid;
    justify-content: center;
    align-content: center;
    stroke: #fff;
    fill: #22262a;
}

.color-svg-search {
    stroke: #fff;
    fill: #22262a;
}

.slider {
    background-color: #151515;
}

.slider-figure {
    /* height: 100vh; */
    /* overflow: hidden; */
    background-color: #151515;
    height: 200px;
    width: 100%;
    position: relative;
}

.slider-image {
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: url("../images/captainmarvel.jpg");
}

/* .image2 {
    background-image: url("../images/capmarv.jpg");
} */

.slider-content {
    margin: 50px 0 0;
    padding: 0 30px 20px;
}

.image_wrapper {
    overflow: hidden;
}

.slider_headline {
    color: #fff;
    padding: 0;
    display: block;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.8em;
    letter-spacing: 2px;
}

.cta-link {
    display: block;
    margin-bottom: 10px;
}

.cta-btn {
    background-color: #e62429;
    box-sizing: border-box;
    padding: 15px 45px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    display: inline-block;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: #151515;
    clip-path: polygon(0 0,0 100%,100% 92%,100% 0);
}

.image-hero {
    position: relative;
    width: 100%;
    height: 280px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/hero_captain_marvel.jpg");
    transition: .5s ease;
}

.content-hero {
    position: relative;
    padding: 100px 0 60px;
    width: 100%;
}

.align-img {
    display: grid;
    justify-content: center;
}

.description_content-hero {
    margin: 0 0 25px;
    line-height: 1.5;
    color: #fff;
    font: normal 14px/22px "DIN Next W01 Regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.cta-btn-light {
    background-color: #151515;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid #fff;
    display: inline-block;
}

.hero-container {
    padding: 30px;
}



.movie-scenes {
    padding: 5px 0 0;
}

.container-card-movie-scenes {
    display: grid;
    justify-content: space-around;
    padding: 30px;
}

.card-movie-scenes {
    display: grid;
    grid-row-gap: 20px;
    grid-auto-columns: 57%;
    /* justify-content: space-around; */
}

.card-movie-scenes-title {
    color: #e62429;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-movie-scenes-description {
    color: #151515;
    font-family: "DIN Next W01 Regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    cursor: pointer;
}

.image-hero2 {
    position: relative;
    width: 100%;
    height: 280px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/marvel_80_years.jpg");
    transition: .5s ease;
}

.title-hero {
    color: #fff;
    font-family: "DINNextW01-CondensedMedium","Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.div-80years {
    padding-top: 60px;
}




